/* Z index between -1 y 1*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #ff702a;
    --text-color: #fff;
    --bg-color: #1e1c2a;
    --big-font: 3rem;
    --h2-font: 1.5rem;
    --p-font: 0.9rem;

}

header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 20px 170px;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}

.logo{
    color: var(--main-color);
    font-size: 2.4rem;
    font-weight: 600;
}

.navbar{

    display: flex;
}

.navbar a{

    margin-left: 40px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a:hover{

    color: var(--main-color);
    transition: all 0.4s ease;
    grid-gap: 1.5rem;
}

section{

    padding: 70px  17%;
}

.home{
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1.5rem;
    align-items: center;
}

.home-img img{
    max-width: 100%;
    width: 600px;
}

.home-text h1{

    color: var(--main-color);
    font-size: var(--big-font);
}

.home-text{
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
}

.btn{
    display: inline-block;
    background-color: var(--main-color);
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 500;
    transition: 0.6s;
}

.btn:hover{
    
    transform: scale(1.1) translateY(5px);
}

.about{
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
    align-items: center;
}

.about-img img{
    max-width: 100%;
    width: 400px;
}

.about-text h5{
    color: var(--main-color);
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 18px;
}

.about-text h2{

    font-size: 2.25rem;
}

.about-text{
    margin: 1rem 0 2rem;
    font-size: var(--p-font);
}

.about-text p{
    margin: 20px 0;
}